.header {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgb(193, 193, 193);
    .route-link {
        padding: 10px 15px;
        border: 1px solid rgb(196, 196, 196);
        border-radius: 5px;
        &:hover {
            background-color: rgb(228, 228, 228);
        }
    }
    app-style-switcher {
        margin-left: auto;
    }
}
