td {
    border: 1px solid gray;
    padding: 5px;
}
ul {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px 10px;
}
p {
    margin-bottom: 10px;
}
.dashboard {
    padding: 10px;
}
